@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400&family=Nunito:wght@200;300;400;600;700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); 
*{
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
    font-size: 1rem;
    text-transform: capitalize;
    padding: 0px;
    margin: 0px;
}
.nav,
.hide{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
}
.nav .icon,
.nav .icon span{
    font-size: 2rem;
    font-weight:bolder;
    cursor: pointer;
}
.nav .icon span{
    color: chocolate;
}
.btn{
    padding: .5rem 1.5rem;
    background-color: #03cb38;
    height: 1.5rem;
    color: #fff;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}
.price{
    margin: 0px 1rem;
}
.content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1.5rem;
    margin: 1rem 2rem;
    background-color: chocolate;
}
.content .card{
    width: 25rem;
    height: 35rem;
    border: solid 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    color: #000;
    text-align: center;
}
.content .card img{
    width: 20rem;
    height: 20rem;
    border-bottom: solid;
    margin-bottom: 1rem;
}
.content .card .category{
    background-color: #444;
    color: #fff;
    padding: .5rem 1.5rem;
    border-radius: 30px;
}
.content .card .product-name{
    padding: 0px 2rem;
    margin: .5rem 0px;

}
.content .card .price{
    color: #02a52e;
    font-size: 1.5rem;
    font-weight: bold;

}
.content .card .btn{
    margin: 1rem 0px;
}
.content p{
    color: #fff;
    font-size: 4rem;
}
.active{
    z-index: 100;
    position: fixed;
    display:none;
    align-items: center;
    justify-content: center;
    background-color: #00000095;
    backdrop-filter: blur(5px);
    width: 100%;
    height: 100vh;
}
.active .search{
    position: relative;
    width: 50%;
    height: 4rem;
    font-size: 2rem;
    text-transform:none;
    top: 0px;
    margin: 0px;
}
.active .close{
    position: absolute;
    color: #ff0000;
    font-size: 3rem;
    top: 0;right: 10px;
    cursor: pointer;
}
.active .icon{
    color: #02a52e;
    font-size: 3rem;
    margin-left: 2rem;
    cursor: pointer;
}
.cart{
    display: flex;
    align-items: center;
    background-color: #444;
    width: 20rem;
    color: #fff;
    gap: 1rem;
}
.cart .card{
    display: flex;
    align-items: center;
    flex-direction: column;
    border-bottom: solid 2px;
    padding: .5rem 1.5rem;
}
.cart .total{
    color: #03cb38;
    
}
.btn-filter{
    display: none;
    position: fixed;
    background-color: #444;
    padding: 1rem;
    border-radius: 50%;
    cursor: pointer;
    border: solid 4px #03cb38;
    left: 1rem;top:50%;
}
.btn-filter .filter-icon{
    color: #fff;

}
.filter-action{
    z-index: 10;
    position: fixed;
    display: none; 
    background-color: #fff;
    padding: .5rem;
    margin: .5rem;
    border: solid 5px chocolate;
    box-shadow: 10px 10px 10px rgba(4, 4, 4, 0.5);
    left:.5rem;top:50%;
}
.filter-action .price{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;
}
.filter-action .close{
    display: block;
    color: #ff0000;
    margin-right: 2rem;
}


@media (max-width :1440px){
    .content .card{
        width: 15rem;
        height: 25rem;
    }
    .content .card img{
        width: 10rem;
        height: 10rem;
    }
    .content .card .product-name{
        font-size: 0.8rem;
    }
}
@media (max-width :1024px){
    .content{
        padding: .5rem;
        margin: .5rem 1.5rem;
    }
    .content .card{
        width: 25rem;
        height: 35rem;
    }
    .content .card img{
        width: 20rem;
        height: 20rem;
    }
    .content .card .product-name{
        font-size: 0.8rem;
    }
}
@media (max-width :768px){
    .hide{
        display: none;
    }
    .btn-filter{
        display: block;
        top: 20%;
    }
    .filter-action{
        flex-direction: column;
        top: 20%;
    }
    .filter-action .filter{
        margin: 1rem;

    }
}
@media (max-width :426px){
    .content{
        padding: .5rem;
        margin: 1rem 1.5rem;
    }
    .content .card{
        width: 20rem;
        height: 25rem;
    }
    .content .card img{
        width: 10rem;
        height: 10rem;
    }
    .active .search{
        width: 70%;
        height: 2rem;
        font-size: 20px;
    }

}